body {
   margin: 0;
   background: url("../images/background.jpg");
   padding: 50px 150px;
   height: calc(100vh - 100px);
}

.result {
   font-size: 30px;
}

.hide {
   display: none;
}

.choice-block {
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 10px;
}

.choice-block select {
   margin-top: 10px;
   height: 25px;
   width: 170px;
}

.wrapper-block {
   margin: 0 auto;
   max-width: 1280px;
   display: flex;
   flex-direction: column;
   text-align: center;
   background-color: rgba(222, 227, 231, 0.719);
}

.values-block {
   display: flex;
   flex-direction: column;
   row-gap: 10px;
   margin: 15px 250px;
}

.values-container {
   display: flex;
   justify-content: space-between;
}

.wrapper-input {
   display: flex;
   flex-direction: column;
   min-height: 40px;
}

.error {
   color: red;
}

.param-value, .param-valuedisabled {
   width: 200px;
   border-radius: 5px;
}

.choise-title {
   font-size: 24px;
   font-weight: bold;
}

.values-item {
   font-size: 20px;
   font-weight: bold;
}

.values-block p {
   display: flex;
   justify-content: center;
}

.title-result {
   margin: 0;
}

.result-block {
   min-height: 35px;
   margin: 10px 0;
}

.select {
   border-radius: 5px;
}

.select:hover{
   cursor: pointer;
}

.btn-get-result {
   box-sizing: border-box;
   -webkit-appearance: none;
      -moz-appearance: none;
           appearance: none;
   background-color: transparent;
   border: 2px solid #000000;
   border-radius: 0.6em;
   color: #000000;
   margin-top: 10px;
   cursor: pointer;
   display: flex;
   align-self: center;
   font-size: 14px;
   font-weight: 400;
   line-height: 1;
   padding: 1.2em 2.8em;
   text-decoration: none;
   text-align: center;
   text-transform: uppercase;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
 }

 .btn-get-result:hover, .btn-get-result:focus {
   color: #fff;
   outline: 0;
 }
  
 .btn-get-result:hover {
   box-shadow: 0 0 40px 40px #4b4b4bfd inset;
 }

